@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gold-header {
    background: url("/goldtexture6.png") repeat;
    background-size: cover;
    background-position: center;
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    text-shadow:
      0px 1px 4px rgba(0,0,0,0.6),
      -3px 2px 5px rgba(0,0,0,0.4),
      1px 1px 2px rgba(255, 215, 0, 0.5);
}
